
article figure > h1{
    color: white;
    font-size: 32px;
    right: 4%;
    position: absolute;
    text-align: right;
}

article figure > h1{
    top: 20px;
}

article figure > h1 div:last-child{
    color: #d78138;
}

article h3{
    margin-bottom: 26px;
    margin-top: 40px;
}

article h4{
    margin-bottom: 20px;
    margin-top: 20px;
}

article p,
article li{
    font-size: 20px;
    line-height: 1.35;
}

#article > .lead{
    font-weight: 300;
    padding-bottom: 30px;
}
