#article{
    padding-top: 60px;
}
/**/
article figure:first-child{
    box-shadow: 10px 1px 75px rgba(255,155,155,0.3);
}
article figure > h1{
    color: white;
    left: 4%;
    position: absolute;
}
article figure > h1:first-child{
    top: 2%;
}
article figure > h1:last-child{
    bottom: 2%;
    color: red;
}
article h3,
article h4,
article h5{
    color: #e99d66;
}

article h3{
    margin-bottom: 26px;
    margin-top: 40px;
}
article h4{
    margin-bottom: 20px;
    margin-top: 20px;
}

article p,
article li{
    font-size: 20px;
    line-height: 1.35;
}

#article > .lead{
    font-weight: 300;
    padding-bottom: 30px;
}
