#article{
    padding: 0 60px 20px 60px;
}

/**/
article hr{
    margin-left: -60px;
    margin-right: -60px;
}

article figure > h1{
    color: white;
    font-size: 32px;
    font-weight: 300;
    right: 60px;
    position: absolute;
    /* text-align: right; */
}

article figure > h1{
    top: 40px;
}
article figure > h1 div:last-child{
    color: #d78138;
}

article h3{
    margin-bottom: 26px;
    margin-top: 40px;
}

article h4{
    margin-bottom: 20px;
    margin-top: 20px;
}

article .menu a{
    font-size: 17px;
}

article ul.menu{
    padding-left: 20px;
}

article p,
article li{
    font-size: 20px;
    line-height: 1.35;
}

#article > .lead{
    padding-bottom: 20px;
}
